{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "YOUR NAME",
  "description": "YOUR DESCRIPTION",
  "email": "mailto:email@domain.com",
  "image": "https://www.domain.com/image.jpg",
  "url": "http://www.domain.com",
  "worksFor": "Your Employer",
  "jobTitle": "Your Title",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Your City",
    "addressRegion": "State Abbr",
    "postalCode": "your zip"
  }
}