extends layout

block content
  article#home.content
    div.home-header
      div.home-image
      div.home-core
        h1.title Keith Richards
        p
          | I am a Durham, NC based software developer, amateur powerlifter, former Marine, and consummate bro.
    div.social-links
      a(href="https://github.com/dkrichards86", target="_blank", title="Follow me out on GitHub")
        img(src='/images/github.png', alt="dkrichards86 on GitHub")
      a(href="https://twitter.com/dkrichards86", target="_blank", title="Follow me out on Twitter")
        img(src='/images/twitter.png', alt="@dkrichards86 on Twitter")
      a(href="https://www.linkedin.com/in/dkrichards/", target="_blank", title="Connect with me on LinkedIn")
        img(src='/images/linkedin.png', alt="Connect with me on LinkedIn")
