extends layout

block content
  article#home.content
    div.home-header
      div.component-image
      div.home-core
          div.title
            | Keith Richards
          div.links
              a(href="/personal", class="home-btn") About Me
              a(href="/resume", class="home-btn") My Work
    div
      p
        | I am a software developer, amateur powerlifter, former Marine, and the consummate bro.
