extends layout

block content
  article#home.content
    div.home-header
      div.component-image
      div.home-core
          div.title
            | Keith Richards
          div.links
            +link('/personal', 'About Me')(title="Learn more about me", class="home-btn")
            +link('/resume', 'My Work')(title="Check out my work", class="home-btn")
    div
      p
        | I am a software developer, amateur powerlifter, former Marine, and the consummate bro.
