extends layout

block content
  article
    h1 My Projects
    each project in projects
      -var postlink = 'projects/' + project.slug;
      a(href=postlink, class="list-item")
        span.list-item-header= project.header
        span.list-item-subheader= project.subheader