extends layout

block content
  article#resume.content
    h1 Work Experience
    section.work-experience
      h2 Front-end Developer - RTI Center for Data Science
      strong Jan 2017 - Present
      p
        | I work with data scientists, researchers, and statisticians
        | to create visualizations and user interfaces to facilitate
        | the analysis of data.
      p
        | I also develop open-source tools and applications to support 
        | the Center for Data Science.
      p
        a(
          href="http://www.rti.org/expert/keith-richards" 
          title="Keith Richards RTI biography"
          target="_blank"
        ) View my RTI Bio
    section.work-experience
      h2 Web Applications Developer - Dakno Marketing
      strong April 2015 - December 2016
      p
        | I was the lead front-end developer on a real estate search
        | application built in ReactJS. Coding is done in ES6 JavaScript,
        | transpiled into ES5 via Babel. Webpack is used to bundle 
        | the various components into a single uglified file. I
        | leveraged ESLint to ensure high coding standards. The
        | React architecture was connected to a legacy PHP API, so
        | I made edits to the API as needed to better communicate
        | with the React front-end.
      p
        | I wrote documentation, unit tests, and thorough commenting
        | to ensure code clarity, versatility, and robustness.
      p
        | Additionally, I maintained over 50 databases of regional
        | real estate information, modifying and updating these
        | databases and their associated Python scripts as required.
        | I setup new real estate databases in accordance with regional
        | Multiple Listing Service board compliance guidelines.
        | I wrote board specific update scripts in Python to align
        | this MLS data with existing infrastructure requirements.
      p
        | I wrote a library of helper scripts in Python as well as
        | a step-by-step guide to expedite the on-boarding process,
        | successfully cutting development time of new real estate
        | market on-boarding from two weeks to just two days.
      p
        | Finally, I mentored junior staff on all aspects of software
        | development.
    section.work-experience
      h2 Cryptologic Linguist - United States Marine Corps
      strong May 2010 - May 2015
      p
        | I served as a Team Leader for Charlie Company, 4th Platoon,
        | 2d Radio Battalion, where I oversaw the day to day activities
        | of 6 Marine Signals Intelligence Collection team in a highly
        | dynamic environment.
      p
        | I instructed platoon-level courses on Signals Intelligence
        | operations, in both classified and non-classified environments.
      p
        | I also led the periodic inventories and routine maintenance
        | on over $4M in classified equipment, in accordance with
        | Department of Defense, Marine Corps, and unit policies.
      p
        | In addition to my direct responsibilities, I also maintained
        | proficiency in Modern Standard Arabic, as outlined by the
        | Interagency Language Roundtable.
      p
        | I was awarded the Navy and Marine Corps Achievement Medal 
        | while forward deployed to Tripoli, Libya.
      p
        | I achieved the rank of Sergeant.