extends articlebase

block project
  p
    | I seriously never remember the steps to implementing NVM. It's bad.
  p
    | Installing NVM is really easy. It's as simple as:
  ol
    li 
      | Head over to the NVM repository and follow the outlined steps.
      | #[+link('https://github.com/creationix/nvm#installation', 'NVM')(title="Node Version Manager on GitHub" target="_blank")]
    li
      | Run `nvm install x.xx` to grab a specific version of Node.
    li
      | Run 'nvm alias default x.xx` to set that specific version as your default
    li
      | ...
    li
     | Profit!
  
  p.footnote
    | Note: I originally posted this as a Gist on GitHub, but I'm reposting here
    | for added visibility.
