extends projectbase

block project
  p
    | MetaManager was born from a previous project, React-PageHead.
  
  p
    | When I first coded React-PageHead, I was admittedly short-sighted. It was
    | a purpose built tool, meant for boosting the search engine presence of
    | this portfolio. I quickly realized that my approach was less than optimal,
    | and writing a React component limited the module to only a subset of the
    | JavaScript community. I realized I needed to step back and make a more 
    | inclusive tool.
    
  p
    | I wrote MetaManager in ES5 JavaScript, mostly because I had used ES6
    | extensively and wanted to brush up on my ES5 syntax. My idea was to first
    | write a vanilla JavaScript tool, with the intent to implement it in 
    | different frameworks and libraries. I immediately released a React
    | implementation (which is used on this site). A Meteor package and Angular|
    | directive will follow suit.
    
  p
    | Check it out on #[a(href="https://github.com/dkrichards86/metamanager") GitHub] or
    | #[a(href="https://www.npmjs.com/package/meta-manager") NPM]
