extends projectbase

block project
  p
    | My portfolio project started as an opportunity for me to learn some more
    | advanced React concepts.
  p
    | The first incarnation of my portfolio was written entirely in React. A 
    | project of this scope and nature does not to be written in a complex
    | ecosystem like React, but it did prove to be a good sandbox for testing ideas.
    | It is much easier for me to stretch concepts and push my limits
    | on a smaller project like this than on a complex project.
    
  p
    | The React based portfolio project was the impetus behind the
    | MetaManager tool. #[a(href="projects/metamanager") MetaManager] has since been 
    | released to NPM.
  p
    | Eventually, I grew tired of a bloated, convoluted React build for what should
    | be a basic site. I was using React as a template engine more than a full
    | view engine. It didn't make sense to carry forward React's overhead when
    | refactoring my portfolio. Ultimately I decided to scrap that setup in favor
    | of #[a(href="https://expressjs.com/") Express], 
    | #[a(href="https://pugjs.org") Pug] and #[a(href="http://stylus-lang.com/") Stylus].
