extends projectbase

block project
  p
    | React-MetaManager is a React implementation of #[+link('/projects/metamanager', MetaManager)(title="Learn more about MetaManager")]
    | tool.
    
  p
    | React-MetaManager is available on #[+link('https://github.com/dkrichards86/react-metamanager', 'GitHub')(title="Check out React-MetaManager on GitHub", target="_blank")]
    | and #[+link('https://www.npmjs.com/package/react-metamanager', 'NPM')(title="Check out React-MetaManager on NPM", target="_blank")].