extends projectbase

block project
  p
    | React-MetaManager is a React implementation of #[a(/projects/metamanager) MetaManager]
    | tool.
    
  p
    | React-MetaManager is available on #[a(href="https://github.com/dkrichards86/react-metamanager") GitHub]
    | and #[a(href="https://www.npmjs.com/package/react-metamanager") NPM].